body {
    background-color: #f5f5f5;
}
.main {
    background-color: #f0f8ff;
}
h1 {
    color: #00008b;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.stButton>button {
    background-color: #1e90ff;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    height: 3em;
    width: 100%;
    margin-top: 10px;
}
.sidebar .stButton>button {
    background-color: #4682b4;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}
.stTextInput>div>input {
    border-radius: 8px;
    border: 1px solid #4682b4;
}
.sidebar .stTextInput>div>input {
    border: 1px solid #87ceeb;
}
