body {
    background-color: #9a4380;
}
.main {
    background-color: #498eca;
}
h1 {
    color: #00008b;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.stButton>button {
    background-color: #1e90ff;
    color: rgb(188, 146, 223);
    font-size: 18px;
    border-radius: 8px;
    height: 3em;
    width: 100%;
    margin-top: 10px;
}
.sidebar .stButton>button {
    background-color: #4682b4;
    color: rgb(95, 59, 179);
    font-size: 18px;
    border-radius: 8px;
}
.stTextInput>div>input {
    border-radius: 8px;
    border: 1px solid #4682b4;
}
.sidebar .stTextInput>div>input {
    border: 1px solid #87ceeb;
}
